<h1>Edição de task: {{title}}</h1>
<form action="/tasks/edit" method="POST">
  <input type="hidden" name="id" value="{{id}}" />
  <div class="form-control">
    <label for="title">Titulo</label>
    <input
      type="text"
      name="title"
      value="{{title}}"
      placeholder="O que você irá fazer?"
    />
  </div>
  <div class="form-control">
    <label for="description">Descrição</label>
    <textarea
      name="description"
      id="description"
      placeholder="Descreva a tarefa"
    >{{description}}</textarea>
  </div>
  <div class="form-control">
    <input type="submit" value="Editar" />
  </div>
</form>